<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск технологических карт</title>
</head>
<body>
    <button onclick="location.href='/'" class="btn btn-primary">На главную</button>
    <h1>Поиск технологических карт</h1>
    <form method="GET" action="/cards/search">
        <label for="searchTerm">Критерий поиска (ФИО или инв. номер)</label><br>
        <input type="text" id="searchTerm" name="searchTerm" required/><br>
        <button type="submit">Найти</button>
    </form>

    <div th:if="${resultCards != null && resultCards.size() > 0}">
        <h2>Результат поиска:</h2>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Инвентарный номер ПК</th>
                <th>ФИО пользователя</th>
                <th>Фото техкарты</th>
            </tr>
            <tr th:each="card : ${resultCards}">
                <td th:text="${card.id}"></td>
                <td th:text="${card.inventoryNumber}"></td>
                <td th:text="${card.fullName}"></td>
                <td>
                    <a th:href="@{'uploads/' + ${card.filePath}}" target="_blank">Открыть фото техкарты</a>
                </td>
            </tr>
        </table>
    </div>

    <div th:if="${resultCards == null || resultCards.size() == 0}">
        <p>Ничего не найдено по данному критерию поиска.</p>
    </div>
</body>
</html>