<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загрузка новой карты</title>
</head>
<body>
    <button onclick="location.href='/'" class="btn btn-primary">На главную</button>
    <h1 th:text="${pageTitle}">Загрузить карту обслуживания</h1>
    <form enctype="multipart/form-data" method="POST" action="/cards/upload">
        <label for="inventoryNumber">Инвентарный номер ПК:</label>
        <input type="text" id="inventoryNumber" name="inventoryNumber" required /><br>

        <label for="fullName">ФИО пользователя:</label><br>
        <input type="text" id="fullName" name="fullName" required /><br>

        <label for="file">Фотография карты:</label><br>
        <input type="file" id="file" name="file" accept="image/jpeg,image/png,image/gif" required /><br>

        <button type="submit">Загрузить карту</button>

        <div th:if="${successMessage}">
            <div class="alert alert-success" role="alert">
                <span th:text="${successMessage}">Технологическая карта успешно загружена!</span>
            </div>
        </div>
    </form>
</body>
</html>